@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 10px;
    background-color: mediumturquoise;
}