.main-header{
    background-color: dodgerblue;
    display: grid;
    width: auto;
    grid-template-columns: 1fr 51%;
    grid-template-rows: 100px;
    grid-template-areas: "header search";
    position: sticky;
    top: 0;    
}

.header-logo{
    grid-area: header;
    color: white;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;
}

.header-search{
    grid-area: search;
    list-style: none;
}

.header-search > .search-item{
    padding-left: 40px;
    line-height: 100px;
}

.header-search > .search-item > .item-text{
    width: 51%;
    height: 40px;
    font-size: 30px;
    border: 2px solid royalblue;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: middle;
}

.header-search > .search-item > .item-text::placeholder{
    font-size: 20px;
    opacity: 0.7;
    text-transform: uppercase;
}

.header-search > .search-item > .item-text:focus{
    box-shadow: 0 0 90px royalblue;
}

.header-search > .search-item > .item-button{
    width: 50px;
    height: 40px;
    border: 2px solid royalblue;
}

.header-search > .search-item > .item-button:focus{
    box-shadow: 0 0 90px royalblue;
}

