@media (max-width: 767px){
    .main-header{
        grid-template-columns: 100%;
        grid-template-rows: 200px 100px;
        grid-template-areas: 
            "header"
            "search"
        ;
        top: -200px;
        align-items: center;
        text-align: center;

    }

    .header-logo > .logo-img.-desktop{
        display: none;
    }

    .header-logo > .logo-img.-mobile{
        display: inline-block;
    }

    .main-header > .header-menu > .menu-list > .list-item:focus{
        background-color: rgb(255, 123, 0);
    }
}