.main-content{
    background-image: linear-gradient(to bottom, rgb(255, 123, 0), rgb(219, 123, 39));
    padding: 30px 15%;
}

.main-content > .content-section{
    display: grid;
    background-color: rgba(255, 255, 255, 0.9);
    grid-template-rows: 50px 1fr auto;
    grid-template-areas: 
        "tag-name"
        "tag-default-value"
        "tag-description";
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(255, 123, 0);
}

.main-content > .content-section._main{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    height: 50vh;
    display: block;
}

.main-content > .content-section._main > ._main-emoji{
    font-size: 500%;
    opacity: 0.5;
    margin-top: 50px;
}

.main-content > .content-section > .section-tag-name{
    grid-area: tag-name;
    font: 700 20px "Roboto";
    text-transform: uppercase;
    border-bottom: 1px solid #000; 
    margin-bottom: 10px;
    color:rgb(255, 123, 0);
    font-size: 30px;
}

.main-content > .content-section > .section-tag-name::before{
    content: "<";
    color: black;
}

.main-content > .content-section > .section-tag-name::after{
    content: ">";
    color: black;
}


.tag-default-value{
    grid-area: tag-default-value;
    box-sizing: border-box;
    font-size: 23px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #282b33;
    color: white;
    cursor: pointer;
}

.tag-default-value > .default-properties{
    margin-bottom: 5px;
    display: block;
    color: lightskyblue;
}

.tag-default-value > .default-properties > .properties-value{
    color: white;
}

.tag-default-value > .default-properties > .properties-value > .value-browser{
    color: lightgreen;
}

.tag-default-value > .default-properties > .properties-value > .value-browser::before{
    content: "/* ";
}

.tag-default-value > .default-properties > .properties-value > .value-browser::after{
    content: " */";
}

.tag-description{
    grid-area: tag-description;
    font-family: 'Domine', serif;
    font-size: 20px;
    text-indent: 20px;
    text-align: justify;
    letter-spacing: 0.01em;
}

.tag-description > ._tag-opening,
.tag-description > ._tag-closure,
.tag-description > ._tag-auto-closure{
    color: #0846ff;
    background-color: #282b3320;
    font-weight: bold;
}

.tag-description > ._tag-opening::before{
    content: "<";
    color: #737578;
}

.tag-description > ._tag-opening::after{
    content: ">";
    color: #737578;
}

.tag-description > ._tag-closure::before{
    content: "</";
    color: #737578;
}

.tag-description > ._tag-closure::after{
    content: ">";
    color: #737578;
}

.tag-description ._tag-attribute{
    color: green;
    font-weight: bold;
}

.tag-description ._tag-attribute::before{
    content: " ";
}

.tag-description ._tag-attribute::after{
    content: '=" "';
}

.tag-description > ._cite-abbrevitation{
    font-size: 23px;
    color: red;
    font-weight: 800;
}

.tag-description > ._tag-auto-closure::before{
    content: "<";
    color: #737578;
}

.tag-description > ._tag-auto-closure::after{
    content: " />";
    color: #737578;
}