.main-content{
    background-image: linear-gradient(to bottom, rgb(255, 123, 0), rgb(219, 123, 39));
    padding: 30px 15%;
}

.main-content > .content-section{
    display: grid;
    background-color: rgba(255, 255, 255, 0.9);
    grid-template-rows: 50px 1fr 2fr;
    grid-template-areas: 
        "tag-name"
        "tag-default-value"
        "tag-description";
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(255, 123, 0);
}

.main-content > .content-section > .section-tag-name{
    grid-area: tag-name;
    font: 700 20px "Roboto";
    text-transform: uppercase;
    border-bottom: 1px solid #000; 
    margin-bottom: 10px;
}

.main-content > .content-section > .section-tag-name > ._tag{
    color:rgb(255, 123, 0);
    font-size: 30px;
}

.tag-default-value{
    grid-area: tag-default-value;
    box-sizing: border-box;
    font-size: 23px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #282b33;
    color: white;
    cursor: none;
}

.tag-default-value > .default-properties{
    margin-bottom: 5px;
    display: block;
    color: lightskyblue;
}

.tag-default-value > .default-properties > .properties-value{
    color: white;
}

.tag-description{
    grid-area: tag-description;
    font-size: 20px;
    text-indent: 20px;
    text-align: justify;
    letter-spacing: 0.01em;
}